/* app css stylesheet */

.comptingServices {
    text-align: center;
/*    background-image: url('../images/hero_image.jpg');*/
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*.navbar {
    background-color: black;
}*/

.jumbotron {
    padding: 0 0;
}

.no-bullets {
    list-style-type:none;
}

/*.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.img-full{
  width:100%;
}

.no-bullets {
    list-style-type:none;
}*/

/*
hr {
    border-top: 1px solid #e74c3d;
    width: 160px;
    margin-top: 15px;
}
*/

.staff {
    background-color: #f5f5f5;
}


/*careers styling*/
/*.username.ng-valid {
    background-color: lightgreen;
}
.username.ng-dirty.ng-invalid-required {
    background-color: red;
}
.username.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.email.ng-valid {
    background-color: lightgreen;
}
.email.ng-dirty.ng-invalid-required {
    background-color: red;
}
.email.ng-dirty.ng-invalid-email {
    background-color: yellow;
}*/
/*careers styling*/


/*Apply For a Job - Fileupload*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*Manage Job Applicants*/
.formcontainer{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d8dee2;
}

.tablecontainer{
    padding-left: 10px;
}

.generic-container {
    width:100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

#statusActive {
    color: white;
    background: green;
}

#statusInActive {
    color: white;
    background: red;
}

#statusAlumni {
    color: black;
    background: yellow;
}

#statusNew {
    color: antiquewhite;
    background: blue;
}

.viewJobApplicantsSearchBar {
    float: left;
    margin: 5px;
}


/*Manage Lab Schedule*/
.inputdemoErrors .inputErrorsApp {
    min-height: 48px; }

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%; }

/*Lab Schedule Edit Form*/
.labScheduleEditForm {
    background-color: whitesmoke;
}

/*record lab assistant work*/
.recordwork md-content {
    padding: 24px; }

.rightAlign {
    text-align: right;
}

.centerAlign {
    text-align: center;
}

.zeroBottomMargin {
    margin-bottom: 0px;
}

.topPadding30 {
    padding-top: 30px;
}

.centWidth {
    width: 100px;
}

.toolbar {
    background-color: rgb(16,108,200);
}

.styleCal {
    background-color: #FFF;
    padding: 20px;
}

.selected {
    border-left: 4px solid #73C20E !important;
}
