<div ng-controller="VWSCtrl" class="recordwork">
    <div class="col-md-8 col-md-offset-2">
        <md-content class="md-padding">
            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Shift Details</h2>
                </div>
            </md-toolbar>

            <md-content class="md-no-momentum">

                <table class="table borderless" ng-style="{'text-align':'left'}">
                    <tbody>
                        <tr ng-repeat="item in shiftDetails.workSchedule">
                            <td>
                                <p>{{item.shiftDay}}</p>
                            </td>
                            <td>
                                <p>{{item.shiftDate}}</p>
                            </td>
                            <td>
                                <p>{{item.shiftStartTime}} - {{item.shiftEndTime}}</p>
                            </td>
                            <td>
                                <p>{{item.labName}}-{{item.campus}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr/>

                <div layout="row" layout-align="center" flex>
                    <form name="customShiftDetailsForm">
                        <md-input-container>
                            <md-datepicker name="customStartDate" ng-model="rawCustomStartDate" md-placeholder="Custom Date" required></md-datepicker>
                            <input type="hidden" ng-bind="shiftDetails.customStartDate = ( rawCustomStartDate | date: 'mediumDate')" />
                            <div class="validation-messages" ng-messages="customShiftDetailsForm.customStartDate.$error">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                    </form>
                </div>

                <div ng-if="isCustomDetailsFetched">
                    <table class="table borderless" ng-style="{'text-align':'left'}">
                        <tbody>
                            <tr ng-repeat="item in shiftDetails.workSchedule">
                                <td>
                                    <p>{{item.shiftDay}}</p>
                                </td>
                                <td>
                                    <p>{{item.shiftDate}}</p>
                                </td>
                                <td>
                                    <p>{{item.shiftStartTime}} - {{item.shiftEndTime}}</p>
                                </td>
                                <td>
                                    <p>{{item.labName}}-{{item.campus}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </md-content>
        </md-content>
    </div>
</div>
