<!DOCTYPE html>
<html lang="en" ng-app="computingServices">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Computing Services</title>

    <!--Bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen" />
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="css/angular-material.min.css">
    <!-- Angular Material Calendar -->
    <link rel="stylesheet" href="lib/material-calendar/angular-material-event-calendar.css">
    <!-- date range picker -->
    <link rel="stylesheet" type="text/css" href="lib/daterangepicker/daterangepicker.css" />
    <!--UI Calendar-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css">
    <!--Angular growl 2-->
    <link rel="stylesheet" media="screen" href="css/angular-growl.min.css">
    <!--font awesome-->
    <link data-require="font-awesome@*" data-semver="4.3.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--ui-select CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="mainCtrl">
        <div class="container-fluid" ng-style="{'background-color': '#fff'}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-if="!isUserLoggedIn"class="navbar-brand" href="#/home">Computing Services</a>
                <a ng-if="isUserLoggedIn" class="navbar-brand" href="#/home">Welcome, {{userDetails.firstName}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!--Show logged in user's role-->
                    <li ng-if="isUserLoggedIn" class="active"><a>{{userDetails.role}}</a></li>

                    <!--General public features-->
                    <li><a href="#/staffSchedule">Staff Schedule</a></li>
                    <li><a href="#/staff">Staff</a></li>
                    <li><a href="#/faq">FAQ</a></li>
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/contact">Contact</a></li>
                    <li><a href="#/careers">Jobs</a></li>

                    <!--Admin only features-->
                    <li class="dropdown" ng-if="isUserLoggedIn">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ng-if="isExists('/manageJobApplicants')"><a href="#/manageJobApplicants">Job Applicants</a></li>
                            <li ng-if="isExists('/manageLabAssistants')"><a href="#/manageLabAssistants">Lab Assistants</a></li>
                            <li ng-if="isExists('/manageStaffSchedule')"><a href="#/manageStaffSchedule">Staff Schedule</a></li>
                            <li ng-if="isExists('/manageRoles')"><a href="#/manageRoles">Roles</a></li>
                            <li ng-if="isExists('/authorize')"><a href="#/authorize">Authorize</a></li>

                            <li class="divider"></li>

                            <li ng-if="isExists('/recordwork')"><a href="#/recordwork">Clock In/Clock out</a></li>
                            <li ng-if="isExists('/displaywork')"><a href="#/displaywork">Schedule/Timesheet</a></li>
                            <li ng-if="isExists('/manageprofile')"><a href="#/manageprofile">Manage Profile</a></li>
                        </ul>
                    </li>

                    <!--Login and Logout-->
                    <li ng-if="!isUserLoggedIn" class="active"><a href="#/login">Login <span class="sr-only">(current)</span></a></li>
                    <li ng-if="isUserLoggedIn" ng-click="logout()" class="active"><a>Logout <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!--keep this;dont delete from here-->
    <div class="jumbotron">
        <div class="container">
            <div growl></div>
            <div ng-view></div>
        </div>
    </div>
    <!-- /.container -->

    <!--<footer>
        <div class="credits text-center">
            <p>
                <a href="http://www.fdu.edu/">FDU</a>
            </p>
            <p>
                <a href="http://www.google.com">Arif Akram</a>
            </p>
        </div>
    </footer>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-resource.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!--Angular Growl-->
    <script src="lib/angular-growl.min.js"></script>
    <!--Material Calendar-->
    <script src="lib/material-calendar/angular-material-event-calendar.js"></script>
    <!--UI calendar-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!--stick attribute does not work when minified version of calendar is used-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-calendar/1.0.0/calendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.js"></script>

    <!-- date range picker -->
    <script type="text/javascript" src="lib/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="lib/daterangepicker/angular-daterangepicker.min.js"></script>

    <!--ui-select-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.js"></script>

    <script src="core/constants.js"></script>
    <script src="core/app.js"></script>
    <script src="core/sharedapp.js"></script>

    <script src="templates/general/home/home.js"></script>
    <script src="templates/general/about/about.js"></script>
    <script src="templates/general/careers/careers.js"></script>
    <script src="templates/general/contact/contact.js"></script>
    <script src="templates/general/faq/faq.js"></script>
    <script src="templates/general/staffschedule/staffschedule.js"></script>
    <script src="templates/general/staff/staff.js"></script>

    <script src="templates/admin/manageLabAssistants.js"></script>
    <script src="templates/admin/manageJobApplicants.js"></script>
    <script src="templates/admin/manageRoles.js"></script>
    <script src="templates/admin/authorize.js"></script>
    <script src="templates/admin/staffschedule/staffschedule.js"></script>

    <!--Lab Assistant scripts-->
    <script src="templates/labassistant/recordwork.js"></script>
    <script src="templates/labassistant/displaywork.js"></script>
    <script src="templates/labassistant/manageprofile.js"></script>

    <script src="templates/general/login/login.js"></script>

    <script src="core/dirPagination.js"></script>
    <script src="directives/formValidation.js"></script>
    <!--<script src="directives/fileUpload.js"></script>-->
    <script src="directives/fileModel.js"></script>

    <!--ng-file-upload-->
    <script src="lib/ng-file-upload/FileAPI.min.js"></script>
    <script src="lib/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="lib/ng-file-upload/ng-file-upload.min.js"></script>

</body>

</html>
