/* app css stylesheet */

.comptingServices {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron {
    background-color: #fff;
    padding: 0 0;
    margin-top: 50px;
}

.no-bullets {
    list-style-type: none;
}

.staff {
    background-color: #f5f5f5;
}

/*careers styling*/


/*Apply For a Job - Fileupload*/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*Manage Job Applicants*/

.formcontainer {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d8dee2;
}

.tablecontainer {
    padding-left: 10px;
}

.generic-container {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

#statusActive {
    color: white;
    background: green;
}

#statusInActive {
    color: white;
    background: red;
}

#statusAlumni {
    color: black;
    background: yellow;
}

#statusNew {
    color: antiquewhite;
    background: blue;
}

.viewJobApplicantsSearchBar {
    float: left;
    margin: 5px;
}


/*Manage Lab Schedule*/

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.inputdemoErrors md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}


/*Lab Schedule Edit Form*/

.labScheduleEditForm {
    background-color: whitesmoke;
}


/*record lab assistant work*/

.recordwork md-content {
    padding: 24px;
}

.rightAlign {
    text-align: right;
}

.centerAlign {
    text-align: center;
}

.zeroBottomMargin {
    margin-bottom: 0px;
}

.topPadding30 {
    padding-top: 30px;
}

.topPadding60 {
    padding-top: 60px;
}

.centWidth {
    width: 100px;
}

.toolbar {
    background-color: rgb(16, 108, 200);
}

.styleCal {
    background-color: #FFF;
    padding: 20px;
}

.selected {
    border-left: 4px solid #73C20E !important;
}

.PaddingAllAround {
    padding: 10px;
}

.fc-toolbar.fc-header-toolbar {
    padding: 20px;
    color: #fff;
    background-color: rgb(16, 108, 200);
    margin: inherit;
    font-family: serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.005em;
}

.h2, h2 {
    font-size: 24px;
}

.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.selectdemoSelectHeader md-content._md {
    max-height: 240px;
}
