<div class="comptingServices">
    <div class="col-md-8 col-md-offset-2">
        <div ng-controller="CareersCtrl">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="lead">Apply for a Lab Assistant position</span></div>
                <div class="formcontainer">
                    <form name="userForm" novalidate>
                        <div class="row">
                            <div class="form-group col-xs-12" show-errors='{showSuccess: true}'>
                                <label class="col-xs-4 control-label rightAlign" for="firstName">First Name</label>
                                <div class="col-xs-6">
                                    <input type="text" name="firstName" id="firstName" ng-model="user.firstName" class="form-control" placeholder="Your First Name" required ng-minlength="2" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12" show-errors='{showSuccess: true}'>
                                <label class="col-xs-4 control-label rightAlign" for="lastName">Last Name</label>
                                <div class="col-xs-6">
                                    <input type="text" name="lastName" id="lastName" ng-model="user.lastName" class="form-control" placeholder="Your Last Name" required ng-minlength="1" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12" show-errors='{showSuccess: true}'>
                                <label class="col-xs-4 control-label rightAlign" for="studentId">Student ID</label>
                                <div class="col-xs-6">
                                    <input type="text" name="studentId" id="studentId" ng-model="user.studentId" class="form-control" placeholder="Your ID Number" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12" show-errors='{showSuccess: true}'>
                                <label class="col-xs-4 control-label rightAlign" for="email">Email</label>
                                <div class="col-xs-6">
                                    <input type="email" name="email" id="email" ng-model="user.email" class="form-control" placeholder="Your Email" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12" show-errors='{showSuccess: true}'>
                                <label class="col-xs-4 control-label rightAlign" for="phone">Phone</label>
                                <div class="col-xs-6">
                                    <input type="number" name="phone" id="phone" ng-model="user.phone" class="form-control" placeholder="Your Phone Number" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12" show-errors='{showSuccess: true}'>
                                <label class="col-xs-4 control-label rightAlign" for="education">Education</label>
                                <div class="col-xs-6">
                                    <select class="form-control" name="education" id="education" ng-model="user.education">
                                        <option value="">Your Degree</option>
                                        <option value="UNDERGRAD">Under Grad</option>
                                        <option value="GRAD">Graduate</option>
                                        <option value="POSTGRAD">Post Grad</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-xs-4 control-label rightAlign" for="resume">Resume</label>
                                <div class="col-xs-6">
                                    <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                                    <div class="fileUpload btn btn-primary">
                                        <span>Upload Resume</span>
                                        <input id="uploadBtn" name="file" type="file" class="upload" file-model="files" onchange="angular.element(this).scope().change(this.value)" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-primary centWidth" ng-click="save()">Save</button>
                            <button class="btn btn-warning centWidth" ng-click="reset()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
