<div class="homepage">

    <div class="homepageSection">
        <img ng-src="img/fdu_logo.png">
        <hr>
        <h1>Our goal is to provide our students with necessary tools to excel</h1>
        <br>
        <p>Computing Services manages the University computer labs, develops and maintains the configurations of the laptop and desktop PCs, handles the PC software site licenses, runs the Novell servers, and provides general support for PCs at the University. The main computer labs are located in Dickinson Hall and University Halls on the Metropolitan campus, and in the Dreyfuss building on the College at Florham.</p>
    </div>

    <div id="faq">
        <div class="homepageSection">
            <h2>FAQ</h2>
            <hr id="underline">
            <p>We are here to help. checkout <a href="http://127.0.0.1:60151/app/index.html#/faq">FAQ</a> section to get quick help. Or, checkout our <a href="http://127.0.0.1:60151/app/index.html#/faq">WIKI</a> section for detailed help and instructions.</p>
        </div>
    </div>


    <div id="careers">
        <div class="homepageSection">
            <h2>Jobs</h2>
            <hr id="underline">
            <p><a href="http://127.0.0.1:60151/app/index.html#/careers">APPLY</a> for a job as a Lab Assistant with this department.</p>
        </div>
    </div>

    <div id="contact">
        <div class="row" class="homepageSection">
            <h2>Contact</h2>
            <hr id="underline">

            <div class="col-md-4">
                <h3>Becton Hall</h3>
                <p>888-888-8888</p>
            </div>
            <div class="col-md-4">
                <h3>University Hall</h3>
                <p>888-888-8888</p>
            </div>
            <div class="col-md-4">
                <h3>Lab Manager</h3>
                <p>888-888-8888</p>
            </div>
        </div>
    </div>

</div>
