<div class="computingSerivces topPadding30" ng-controller="AuthorizeCtrl">
    <div class="col-md-8 col-md-offset-2">
        <md-toolbar class="md-primary">
            <div class="toolbar">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Authorize a User</h2>
                </div>
            </div>
        </md-toolbar>

        <md-content class="md-padding">
            <form name="authorizeAUserForm">
                <md-content class="md-no-momentum">

                    <md-input-container flex="" md-no-float class="md-block">
                        <md-select ng-model="user" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" md-container-class="mySelect">
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm"
                                       ng-change="search(searchTerm)"
                                       type="search"
                                       placeholder="Search for a Id Number or name to authorize..."
                                       class="demo-header-searchbox md-text"
                                       ng-keydown="onSearchChange($event)" >
                            </md-select-header>
                            <md-optgroup label="users">
                                <md-option ng-value="user" ng-repeat="user in users | filter:searchTerm">{{user.lastName}}, {{user.firstName}} </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>user-{{user}}
                </md-content>

                <div layout="row" layout-align="center" flex>
                    <md-button class="md-raised md-primary" ng-disabled="!user.userId" ng-click="authorize(user)">Authorize</md-button>
                </div>
            </form>
        </md-content>
    </div>
</div>
