<br/>
<br/>
<div class="comptingServices" ng-controller="ManageLabAssistantsCtrl">
    <md-toolbar class="md-primary">
        <div class="toolbar">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Lab Assistants</h2>
            </div>
        </div>
    </md-toolbar>

    <md-content flex layout-padding>
        <div class="tablecontainer" ng-style="{'overflow':'auto'}">
            <table class="table borderless">
                <thead>
                    <tr>
                        <th ng-style="{'text-align':'left'}">ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Education</th>
                        <th>Specialization</th>
                        <th>Status</th>
                        <th>Comments</th>
                        <th>Resume</th>
                        <th>Profile</th>
                        <th>Address</th>
                        <th ng-style="{'text-align':'left', 'width':'170px'}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users">
                        <td><span ng-bind="u.studentId"></span></td>
                        <td>
                            <span ng-hide="u.editing" ng-bind="u.firstName"></span>
                            <input ng-show="u.editing" type="text" ng-model="u.firstName" ng-required/>
                        </td>
                        <td><span ng-bind="u.lastName"></span></td>
                        <td><span ng-bind="u.email"></span></td>
                        <td><span ng-bind="u.phone"></span></td>
                        <td><span ng-bind="u.education"></span></td>
                        <td><span ng-bind="u.specialization"></span></td>
                        <td>
                            <!--<span ng-bind="u.status"></span>-->
                            <span id="statusActive" ng-if="u.status == 'ACTIVE'" ng-bind="u.status"></span>
                            <span id="statusInActive" ng-if="u.status == 'INACTIVE'" ng-bind="u.status"></span>
                            <span id="statusNull" ng-if="u.status == null">Null</span>
                        </td>
                        <td><span ng-bind="u.comments"></span></td>
                        <td><span ng-bind="u.resume"></span></td>
                        <td><span ng-bind="u.profile"></span></td>
                        <td><span ng-bind="u.address"></span></td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn" ng-hide="u.editing" ng-click="edit(u); u.editing = true">
                                    <i class="fa fa-pencil"></i>
                                    <md-tooltip>Edit</md-tooltip>
                                </button>
                                <button type="button" class="btn btn-warn btn" ng-show="u.editing" ng-click="u.editing = false">
                                    <i class="fa fa-wrench"></i>
                                    <md-tooltip>Update</md-tooltip>
                                </button>
                                <button type="button" class="btn btn-default btn" ng-show="u.editing" ng-click="cancel(u); u.editing = false">
                                    <i class="fa fa-ban"></i>
                                    <md-tooltip>Cancel</md-tooltip>
                                </button>
                                <button type="button" class="btn btn-danger btn" ng-click="removeditinge(u.id)">
                                    <i class="fa fa-trash-o"></i>
                                    <md-tooltip>Remove</md-tooltip>
                                </button>
                                <!--<button type="button" ng-click="makeActiveOrInactive(u.id,u.buttonText)" class="btn btn-default custom-width" ng-init="u.buttonText = 'Do It'">
<span ng-if="u.status == 'ACTIVE'" ng-init="u.buttonText = 'makeInActive'">Make Inactive</span>
<span ng-if="u.status == 'INACTIVE'" ng-init="u.buttonText = 'makeActive'">Make Active</span>
<span ng-if="u.status == null" ng-init="u.buttonText = 'makeWhatever'">whatever</span>
</button>-->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-content>
</div>
