<div layout="column" ng-cloak>
    <div ng-controller="ManageStaffScheduleCtrl as ctrl">
        <md-tabs md-dynamic-height md-border-bottom>

            <!--beginning of first tab-->
            <md-tab label="Create">
                <md-content class="md-padding">
                    <md-toolbar class="md-primary">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Create Staff Schedule</h2>
                        </div>
                    </md-toolbar>
                    <md-content layout-padding>
                        <form name="create_ss_form">

                            <div layout="row">
                                <!--Days of a week-->
                                <div ng-style="{'width':'15%', 'padding-left':'10px'}">
                                    <div layout="column" layout-align="center" flex="">
                                        <div flex="50" ng-repeat="item in items">
                                            <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                                {{ item }}
                                            </md-checkbox>
                                        </div>
                                    </div>
                                </div>

                                <!--All other fields-->
                                <div ng-style="{'display':'block'}" flex="">

                                    <!--Campus, Lab, and isRecurring-->
                                    <div layout="row" layout-align="center">
                                        <md-input-container flex="50">
                                            <label>Campus</label>
                                            <md-select name="create_ss_campus" ng-model="create_ss_selectedCampusName" required>
                                                <md-option ng-value="campusName" ng-repeat="campusName in campus">{{ campusName.name }}</md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="create_ss_form.create_ss_campus.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="10"></md-input-container>

                                        <md-input-container flex="50">
                                            <label>Lab Name</label>
                                            <md-select name="create_ss_labName" ng-model="create_ss_selectedLabName" required>
                                                <md-option ng-value="labName" ng-repeat="labName in labNames | LabFilter: create_ss_selectedCampusName">{{ labName.name }}</md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="create_ss_form.create_ss_labName.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="10"></md-input-container>

                                        <md-input-container flex="50">
                                            <md-checkbox ng-model="staffSchedule.isRecurring" aria-label="Checkbox 2" ng-true-value="true" ng-false-value="false"> Recurring
                                            </md-checkbox>
                                        </md-input-container>
                                    </div>
                                    <!--END - Campus and Lab-->

                                    <!--Start Time and End Time-->
                                    <div layout="row">
                                        <md-input-container flex="50">
                                            <input name="create_ss_startTime" type="time" ng-bind="staffSchedule.startTime = (create_ss_rawStartTime | date: 'HH:mm')" ng-model="create_ss_rawStartTime" placeholder="Start Time" required/>
                                            <div class="validation-messages" ng-messages="create_ss_form.create_ss_startTime.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="10"></md-input-container>

                                        <md-input-container flex="50">
                                            <input name="create_ss_endTime" type="time" ng-bind="staffSchedule.endTime = (create_ss_rawEndTime | date: 'HH:mm')" ng-model="create_ss_rawEndTime" placeholder="End Time" required/>
                                            <div class="validation-messages" ng-messages="create_ss_form.create_ss_endTime.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="10"></md-input-container>

                                        <!--Start Date-->
                                        <md-input-container flex="50">
                                            <md-datepicker name="create_ss_startDate" ng-model="create_ss_rawStartDate" md-placeholder="Start Date" required></md-datepicker>
                                            <input type="hidden" ng-bind="staffSchedule.startDate = ( create_ss_rawStartDate | date: 'mediumDate')" />
                                            <div class="validation-messages" ng-messages="create_ss_form.create_ss_startDate.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="10"></md-input-container>

                                        <md-input-container flex="50" ng-show="staffSchedule.isRecurring === true">
                                            <md-datepicker name="create_ss_endDate" ng-model="create_ss_rawEndDate" md-placeholder="End Date"></md-datepicker>
                                            <input type="hidden" ng-bind="staffSchedule.endDate = ( create_ss_rawEndDate | date: 'mediumDate')" />
                                            <div class="validation-messages" ng-messages="create_ss_form.create_ss_endDate.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>
                                        <!--END - Start Date-->
                                    </div>
                                    <!--END - Start Time and End Time-->

                                    <!--BEGIN - Lab Assistant Name-->
                                    <div layout="row">
                                        <md-input-container flex="50" md-no-float class="md-block">
                                            <input name="create_ss_laName" ng-model="create_ss_search" placeholder="Lab Assistant Name">
                                        </md-input-container>

                                        <md-input-container flex="10"></md-input-container>

                                        <md-input-container flex="50">
                                            <label>Lab Assistants</label>
                                            <md-select name="create_ss_labasstName" ng-model="ctrl.create_ss_selectedLAName" required>
                                                <md-option ng-value="labName" ng-repeat="labName in labAssistants | filter: create_ss_search">{{ labName.name }}</md-option>
                                            </md-select>
                                            <div class="errors" ng-messages="create_ss_form.create_ss_labasstName.$error">
                                                <div ng-message="required">Required</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <!--END - Lab Assistant Name-->

                                </div>
                            </div>

                            <div layout="row" layout-align="center" flex>
                                <md-button class="md-raised md-default" ng-click="create_ss_clearValue()" ng-disabled="!(selectedCampusName || selectedLabName || staffSchedule )">Clear</md-button>
                                <md-button class="md-raised md-primary" ng-click="create_ss_save(staffSchedule)" class="md-primary">Save</md-button>
                            </div>

                            <!--Show the detail being saved-->
                            <div flex="100">
                                <code style="display: block; padding: 8px;">{{selected | json}}</code>
                            </div>

                        </form>
                    </md-content>
                </md-content>
            </md-tab>
            <!--end of first tab-->

            <!--beginning of second tab-->
            <md-tab label="View">
                <md-content class="md-padding">
                    <md-toolbar class="md-primary">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">View Staff Schedule</h2>
                        </div>
                    </md-toolbar>
                    <md-content layout-padding>

                        <div layout="row" layout-align="center" ng-style="{'float':'left', 'width':'50%'}">
                            <form name="view_ss_form">
                                <md-calendar name="view_ss_rawSelectedDate" ng-model="view_ss_rawSelectedDate" required></md-calendar>
                            </form>
                        </div>

                        <div ng-style="{'float':'right', 'width':'50%'}">
                            <form name="view_ss_refinedSearchForm">

                                <div layout="column" ng-if="view_ss_searchByLA">
                                    <md-input-container flex="50" md-no-float class="md-block">
                                        <input name="view_ss_laName" ng-model="view_ss_search" placeholder="Lab Assistant Name">
                                    </md-input-container>

                                    <md-input-container flex="50">
                                        <label>Lab Assistants</label>
                                        <md-select name="view_ss_labasstName" ng-model="ctrl.view_ss_selectedLAName" required>
                                            <md-option ng-value="labName" ng-repeat="labName in labAssistants | filter: view_ss_search">{{ labName.name }}</md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="view_ss_form.view_ss_labasstName.$error">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div layout="row" layout-align="center">
                                    <md-switch ng-model="view_ss_searchByLA" flex="100">
                                        <p>Refine</p>
                                    </md-switch>
                                </div>

                                <div layout="row" ng-if="view_ss_searchByLA" layout-align="center">
                                    <md-button ng-click="view_ss_refineSearch(ctrl.view_ss_selectedLAName.name, view_ss_rawSelectedDate)" class="md-raised md-primary" ng-style="{'height':'20px'}">Submit</md-button>
                                </div>
                            </form>
                        </div>

                        <!--this is needed such that the next div is displayed below the above two divs-->
                        <div ng-style="{'clear':'both'}">
                        </div>

                        <hr/>

                        <div ng-show="view_ss_isDataFetched">

                            <div layout="row" layout-align="center" md-no-float class="md-block" ng-style="{'margin':'0', 'padding':'0'}">
                                <md-input-container flex="50" ng-style="{'margin':'0', 'padding':'0'}" md-no-float class="md-block">
                                    <input ng-model="view_ss_search" id="view_ss_search" placeholder="Search Lab Assistants">
                                </md-input-container>
                            </div>

                            <table ng-style="{'text-align':'left', 'margin':'0 auto', 'width':'90%'}" flex dir-paginate="details in view_ss_staffSchedule | filter:view_ss_search | itemsPerPage: 1">
                                <tr>
                                    <td>
                                        <h4 class="text-center">{{view_ss_selectedDate}} - {{details.labName}}</h4>
                                        <hr/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="table borderless">
                                            <thead>
                                                <tr>
                                                    <th ng-style="{'text-align':'left'}">First Name</th>
                                                    <th ng-style="{'text-align':'left'}">Last Name</th>
                                                    <th ng-style="{'text-align':'left'}">Start</th>
                                                    <th ng-style="{'text-align':'left'}">End</th>
                                                    <th ng-style="{'text-align':'left'}">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="labAsst in details.schedule | filter : view_ss_search">
                                                <tr>
                                                    <td>
                                                        <span ng-bind="labAsst.firstName"></span>
                                                    </td>
                                                    <td>
                                                        <span ng-bind="labAsst.lastName"></span>
                                                    </td>
                                                    <td>
                                                        <span ng-bind="labAsst.startTime"></span>
                                                    </td>
                                                    <td>
                                                        <span ng-bind="labAsst.endTime"></span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-danger btn" ng-click="view_ss_delete(labAsst.scheduleId)">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-default btn" ng-click="view_ss_showDetails(labAsst)">
                                                                <i class="fa fa-binoculars"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-danger btn" ng-click="view_ss_delete_all(labAsst.scheduleId)">
                                                                <i class="glyphicon glyphicon-trash"></i>Delete All
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                            <div>
                                <div class="text-center">
                                    <dir-pagination-controls max-size="5" boundary-links="true" direction-links="true" template-url="core/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>

                        </div>
                    </md-content>
                </md-content>
            </md-tab>
            <!--end of second tab-->
        </md-tabs>

        <!--Modal Begin-->
        <div class="modal fade" id="view_ss_modal" tabindex="-1" role="dialog" aria-labelledby="view_ss_modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <md-toolbar class="md-primary">
                            <div class="md-toolbar-tools">
                                <h2 class="md-flex">Lab Assistant Shift Details - {{view_ss_selectedLabAsstSchedule.lastName}}, {{view_ss_selectedLabAsstSchedule.firstName}}</h2>
                            </div>
                        </md-toolbar>

                        <md-content class="md-no-momentum">
                            <div layout="column" flex="">
                                <br/>
                                <p>Showing details for the date : <b>{{view_ss_selectedDate}}</b></p><br/>
                                <p>Shift start time: <b><span ng-bind="view_ss_selectedLabAsstSchedule.startTime"></span></b></p>
                                <p>Shift end time: <b><span ng-bind="view_ss_selectedLabAsstSchedule.endTime"></span></b></p>
                                <p>Campus: <b><span ng-bind="view_ss_selectedLabAsstSchedule.campus"></span></b></p>
                                <p>Lab: <b><span ng-bind="view_ss_selectedLabAsstSchedule.labName"></span></b></p>
                                <br/>
                                <p>More details :</p>
                                <p>LA's work ends on: <b><span ng-bind="view_ss_selectedLabAsstSchedule.endDate"></span></b></p>
                                <p>Working days: <b><span ng-bind="view_ss_selectedLabAsstSchedule.days | json"></span></b></p>
                            </div>

                            <div layout="row" layout-align="center" flex>
                                <md-button class="md-raised md-default" data-dismiss="modal">close</md-button>
                            </div>
                        </md-content>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal End-->

    </div>
</div>
