<div class="topPadding60">
    <md-toolbar class="md-primary">
        <div class="toolbar">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Lab Assistants</h2>
            </div>
        </div>
    </md-toolbar>

    <md-content flex layout-padding>

        <div layout="row" layout-align="center" md-no-float class="md-block">
            <md-input-container flex="50" ng-style="{'height':'20px'}">
                <input ng-model="search" id="search" placeholder="Search Lab Assistants">
            </md-input-container>
        </div>

        <div class="tablecontainer" ng-style="{'overflow':'auto'}">
            <table class="table borderless">
                <thead>
                    <tr>
                        <th ng-style="{'text-align':'left', 'width':'10%'}">ID</th>
                        <th ng-style="{'text-align':'left', 'width':'10%'}">First Name</th>
                        <th ng-style="{'text-align':'left', 'width':'10%'}">Last Name</th>
                        <th ng-style="{'text-align':'left', 'width':'10%'}">Email</th>
                        <th ng-style="{'text-align':'left', 'width':'10%'}">Mobile</th>
                        <th ng-style="{'text-align':'left', 'width':'10%'}">Education</th>
                        <th ng-style="{'text-align':'left', 'width':'15%'}">Status</th>
                        <th ng-style="{'text-align':'center', 'width':'20%'}">Actions</th>
                    </tr>
                </thead>

                <tbody dir-paginate="u in las | filter : search | itemsPerPage : pageSize">
                    <tr ng-style="{'text-align':'center'}">
                        <td ng-style="{'text-align':'left', 'width':'10%'}">
                            <span ng-bind="u.studentId"></span>
                        </td>
                        <td ng-style="{'text-align':'left', 'width':'10%'}">
                            <span ng-bind="u.firstName"></span>

                        </td>
                        <td ng-style="{'text-align':'left', 'width':'10%'}">
                            <span ng-bind="u.lastName"></span>
                        </td>
                        <td ng-style="{'text-align':'left', 'width':'10%'}">
                            <span ng-bind="u.email"></span>
                        </td>
                        <td ng-style="{'text-align':'left', 'width':'10%'}">
                            <span ng-bind="u.phone"></span>
                        </td>
                        <td ng-style="{'text-align':'left', 'width':'10%'}">
                            <span ng-bind="u.education"></span>
                        </td>
                        <td ng-style="{'text-align':'left', 'width':'15%'}">
                            <md-select name="status" ng-model="u.status" ng-disabled="!canChangeStatus" ng-style="{'width':'80%', 'padding':'0', 'margin':'0'}" ng-change="updateLabApplicantStatus(u.status, u.studentId)">
                                <md-option value="NEW">New</md-option>
                                <md-option value="ACTIVE">Active</md-option>
                                <md-option value="INACTIVE">In Active</md-option>
                                <md-option value="Alumni">Alumni</md-option>
                            </md-select>
                        </td>
                        <td ng-style="{'text-align':'left', 'width':'20%'}">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn" ng-disabled="!canDownloadResume" ng-click="download(u.studentId)">
                                    <i class="fa fa-download"></i>
                                    <md-tooltip>Download Resume</md-tooltip>
                                </button>
                                <button class="btn btn-default btn" ng-disabled="!canViewResume" ng-click="viewResume(u.studentId)">
                                    <i class="fa fa-eye"></i>
                                    <md-tooltip>View Resume</md-tooltip>
                                </button>

                                <button type="button" class="btn btn-info btn" ng-disabled="!canEmailLA" ng-click="showEmailModal(u)">
                                    <i class="fa fa-envelope-o"></i>
                                    <md-tooltip>Email Lab Assistant</md-tooltip>
                                </button>

                                <button type="button" class="btn btn-danger btn" ng-disabled="!canDeleteLA" ng-click="deleteLA(u.studentId)">
                                    <i class="fa fa-trash-o"></i>
                                    <md-tooltip>Delete from records</md-tooltip>
                                </button>

                                <button type="button" class="btn btn-default btn" ng-click="edit(u); showDetails(u)">
                                    <i class="fa fa-binoculars"></i>
                                    <md-tooltip>Details</md-tooltip>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="text-center">
                    <dir-pagination-controls max-size="5" boundary-links="true" direction-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="common/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </md-content>

    <!--MODAL-->
    <div class="modal fade" id="ladModal" tabindex="-1" role="dialog" aria-labelledby="ladeModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <md-toolbar class="md-primary">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Details of {{selectedLA.lastName}},{{selectedLA.firstName}}. ID# {{selectedLA.studentId}}</h2>
                        </div>
                    </md-toolbar>

                    <md-content class="md-no-momentum">

                        <form name="editlaForm" role="form" layout="column" layout-padding ng-cloak>

                            <!--Student ID# and Applied Date, both disabled-->
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Applied Job On</label>
                                    <input name="dateApplied" ng-model="selectedLA.dateApplied" disabled/>
                                </md-input-container>

                                <md-input-container flex="5"></md-input-container>

                                <md-input-container flex="50">
                                    <label>Hired On</label>
                                    <input name="dateHired" ng-model="selectedLA.dateHired" disabled/>
                                </md-input-container>

                                <md-input-container flex="5"></md-input-container>

                                <md-input-container flex="50">
                                    <label>Status</label>
                                    <input name="status" ng-model="selectedLA.status" disabled/>
                                </md-input-container>
                            </div>

                            <!--Education details-->
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Education</label>
                                    <input name="education" ng-model="selectedLA.education" disabled/>
                                </md-input-container>

                                <md-input-container flex="5"></md-input-container>

                                <md-input-container flex="50">
                                    <label>Specialization</label>
                                    <input name="specialization" ng-model="selectedLA.specialization" disabled/>
                                </md-input-container>

                                <md-input-container flex="5"></md-input-container>

                                <md-input-container flex="50">
                                    <label>Website</label>
                                    <input name="linkedInProfile" ng-model="selectedLA.profileLink" type="url" disabled>
                                </md-input-container>
                            </div>

                            <!--Comments-->
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Comments</label>
                                    <textarea name="comments" ng-model="selectedLA.comments" md-maxlength="150" rows="3" max-rows="3" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>

                            <!--Buttons-->
                            <div layout="row" layout-align="center" flex>
                                <md-button class="md-raised md-default" ng-click="cancel(selectedLA)" data-dismiss="modal">close</md-button>
                                <md-button class="md-raised md-primary" ng-disabled="!canCommentLA" ng-click="update(selectedLA)">Update</md-button>
                            </div>

                        </form>
                    </md-content>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL-->
    <div class="modal fade" id="emailModalMLA" tabindex="-1" role="dialog" aria-labelledby="jadeModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <md-toolbar class="md-primary">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Email to {{emailApplicant.firstName}} {{emailApplicant.lastName}}</h2>
                        </div>
                    </md-toolbar>

                    <md-content class="md-no-momentum">

                        <form name="emailFormMLA" role="form" layout="column" layout-padding ng-cloak>
                            <!--Email Address-->
                            <div layout="row">
                                <md-input-container flex="100">
                                    <label>To</label>
                                    <input type="email" name="email" ng-model="emailApplicant.email" required />
                                    <div class="validation-messages" ng-messages="emailFormMLA.email.$error">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <!--Subject-->
                            <div layout="row">
                                <md-input-container flex="100">
                                    <label>Subject</label>
                                    <input type="text" name="subject" ng-model="emailApplicant.subject" required />
                                    <div class="validation-messages" ng-messages="emailFormMLA.subject.$error">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <!--Email Content-->
                            <div layout="row">
                                <md-input-container class="md-block" flex="100">
                                    <label>Email Content</label>
                                    <textarea ng-model="emailApplicant.content" name="content" md-maxlength="500" rows="5" max-rows="5" md-select-on-focus required></textarea>
                                    <div class="validation-messages" ng-messages="emailFormMLA.content.$error">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <!--Controls-->
                            <div layout="row" layout-align="center" flex>
                                <md-button class="md-raised md-default" data-dismiss="modal" id="closeEmailModalinMLA">close</md-button>
                                <md-button class="md-raised md-primary" ng-disabled="!emailFormMLA.$valid" ng-click="email(emailApplicant)">Send</md-button>
                            </div>
                        </form>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>
