<div class="topPadding60">

    <md-toolbar class="md-primary">
        <div class="toolbar">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Job Applicants</h2>
            </div>
        </div>
    </md-toolbar>

    <md-content flex layout-padding>

        <div layout="row" layout-align="center" md-no-float class="md-block">
            <md-input-container flex="50" ng-style="{'height':'20px'}">
                <input ng-model="search" id="search" placeholder="Search Job Applicants">
            </md-input-container>
        </div>

        <div flex="90" ng-style="{'text-align':'left', 'margin':'0 auto'}">
            <table class="table borderless">
                <thead>
                    <tr>
                        <th ng-style="{'text-align':'left'}">First Name</th>
                        <th ng-style="{'text-align':'left'}">Last Name</th>
                        <th ng-style="{'text-align':'left'}">Education</th>
                        <th ng-style="{'text-align':'left'}">Status</th>
                        <th ng-style="{'text-align':'left'}">Resume</th>
                        <th ng-style="{'text-align':'left', 'width':'170px'}">Actions</th>
                    </tr>
                </thead>
                <tbody dir-paginate="applicant in jobApplicants | filter : search | itemsPerPage : pageSize">
                    <form name="vjaform">
                        <tr>
                            <td>
                                <span ng-bind="applicant.firstName"></span>
                            </td>

                            <td>
                                <span ng-bind="applicant.lastName"></span>
                            </td>

                            <td>
                                <span ng-bind="applicant.education"></span>
                            </td>

                            <td>
                                <md-select name="status" ng-model="applicant.status" ng-disabled="!canChangeApplicantStatus" ng-style="{'width':'80%', 'padding':'0', 'margin':'0'}" ng-change="updateJobApplicantStatus(applicant.status, applicant.studentId)">
                                    <md-option value="SUBMITTED">Submitted</md-option>
                                    <md-option value="IN REVIEW">In Review</md-option>
                                    <md-option value="IN PROGRESS">In Progress</md-option>
                                    <md-option value="NO LONGER IN CONSIDERATION">Reject</md-option>
                                </md-select>
                            </td>

                            <td>
                                <button class="btn btn-default btn" ng-disabled="!canDownloadResume" ng-click="download(applicant.studentId)">
                                    <i class="fa fa-download"></i>
                                    <md-tooltip>Download Resume</md-tooltip>
                                </button>

                                <button class="btn btn-default btn" ng-disabled="!canViewResume" ng-click="viewResume(applicant.studentId)">
                                    <i class="fa fa-eye"></i>
                                    <md-tooltip>View Resume</md-tooltip>
                                </button>
                            </td>

                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn" ng-disabled="!canDeleteApplicant" ng-click="delete(applicant.studentId)">
                                        <i class="fa fa-trash-o"></i>
                                        <md-tooltip>Delete Applicant</md-tooltip>
                                    </button>

                                    <button type="button" class="btn btn-default btn" ng-disabled="!canEmailApplicant" ng-click="email(applicant)">
                                        <i class="fa fa-envelope-o"></i>
                                        <md-tooltip>Email Applicant</md-tooltip>
                                    </button>

                                    <button type="button" class="btn btn-primary btn" ng-disabled="!canHireApplicant" ng-click="hire(applicant)">
                                        <i class="fa fa-star-o"></i>
                                        <md-tooltip>Hire Applicant</md-tooltip>
                                    </button>

                                    <button type="button" class="btn btn-default btn" ng-disabled="!canViewApplicantDetails" ng-click="edit(applicant); showDetails(applicant)">
                                        <i class="fa fa-binoculars"></i>
                                        <md-tooltip>Details</md-tooltip>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>

        <div>
            <div class="text-center">
                <dir-pagination-controls max-size="5" boundary-links="true" direction-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="core/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </md-content>

    <!--MODAL-->
    <div class="modal fade" id="jadModal" tabindex="-1" role="dialog" aria-labelledby="jadeModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <md-toolbar class="md-primary">
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Applicant Details</h2>
                        </div>
                    </md-toolbar>

                    <md-content class="md-no-momentum">

                        <form name="editjaForm" role="form" layout="column" layout-padding ng-cloak>

                            <!--Student ID# and Applied Date, both disabled-->
                            <div layout="row">
                                <md-input-container flex="50" md-no-float class="md-block">
                                    <label>Candidate ID #</label>
                                    <input name="studentID" ng-model="selectedApplicant.studentId" disabled>
                                </md-input-container>

                                <md-input-container flex="10"></md-input-container>

                                <md-input-container flex="50">
                                    <label>Applied Job On</label>
                                    <input name="dateApplied" ng-model="selectedApplicant.dateApplied" disabled/>
                                </md-input-container>
                            </div>

                            <!--First and Last name-->
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>First Name</label>
                                    <input type="text" name="firstName" ng-model="selectedApplicant.firstName" required disabled/>
                                    <div class="validation-messages" ng-messages="editjaForm.firstName.$error">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex="10"></md-input-container>

                                <md-input-container flex="50">
                                    <label>Last Name</label>
                                    <input type="text" name="lastName" ng-model="selectedApplicant.lastName" required disabled/>
                                    <div class="validation-messages" ng-messages="editjaForm.lastName.$error">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <!--Email and Phone-->
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Email</label>
                                    <input type="email" name="email" ng-model="selectedApplicant.email" required disabled/>
                                    <div class="validation-messages" ng-messages="editjaForm.email.$error">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex="10"></md-input-container>

                                <md-input-container flex="50">
                                    <label>Phone</label>
                                    <input name="phone" ng-model="selectedApplicant.phone" ng-pattern="/^[0-9]{3}[0-9]{3}[0-9]{4}$/" required disabled/>
                                    <div ng-messages="editjaForm.phone.$error">
                                        <div ng-message="pattern">Phone number format is ##########</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <!--Education level and LinkedIn Profile-->
                            <div layout="row">
                                <md-input-container flex="50">
                                    <label>Education</label>
                                    <input name="education" ng-model="selectedApplicant.education" disabled/>
                                </md-input-container>

                                <md-input-container flex="10"></md-input-container>

                                <md-input-container flex="50" md-no-float class="md-block">
                                    <label>LinkedIn Profile</label>
                                    <input name="linkedInProfile" ng-model="selectedApplicant.linkedInProfile" type="url" disabled>
                                </md-input-container>
                            </div>

                            <div layout="row" layout-align="center" flex>
                                <md-button class="md-raised md-default" ng-click="cancel(selectedApplicant)" data-dismiss="modal">close</md-button>
                                <!--<md-button class="md-raised md-primary" ng-click="update(selectedApplicant)">Submit</md-button>-->
                            </div>

                        </form>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>
