<div class="comptingServices">
    <div class="container">
        <h1>Our goal is to inspire <br>Tallahassee to write 1,000,000<br> lines of code_</h1>
        <p>All over the country people are taking the <strong>HOUR OF CODE</strong> challenge issued by <strong>CODE.org</strong>. Millions of lines of code are    being written. In the capital of Florida, Tallahassee, the community is taking the challenge and our goal is to write 1,000,000 lines of code_</p>
        <p><a class="btn btn-danger btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>